---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getTags, tagToPrettyName } from "../../constants/tags.ts";
---

<BaseLayout title="Topics">
  <h1 class="text-4xl font-extrabold text-gray-900 mb-8">
    Topics I write about
  </h1>
  <ul class="leading-7 ps-6 pl-6">
    {
      getTags().map((tag) => (
        <li class="list-disc list-outside my-2 ms-5">
          <a href={`/tags/${tag}`} class="hover:underline">
            {tagToPrettyName(tag)}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
