---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";
import { getTags, tagToPrettyName } from "../../constants/tags.ts";

export async function getStaticPaths() {
  const posts = Object.values(import.meta.glob("../posts/*.md", { eager: true }));

  return getTags().map((tag) => ({
    params: { tag },
    props: { posts },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) =>
  post.frontmatter.tags?.includes(tag)
);

const title = `Posts about ${tagToPrettyName(tag)}`;
---

<BaseLayout {title}>
  <h1 class="text-4xl font-extrabold text-gray-900 mb-4">{title}</h1>
  <PostList posts={filteredPosts} />
</BaseLayout>
