---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
    <p>Hi and welcome to my website! I plan to normally post here things that I think about and want to share</p>
	</main>
</Layout>
