---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Danny Velasquez's Base Posts">
  <h2 class="text-4xl my-4">Hi and welcome!</h2>
  <p>
    My name is Danny. I currently work as a software engineer and team lead at
    Walmart. I like learning about programming languages, software design
    patterns, and system development, and plan to post here some of the things
    that I am interested
  </p>
  <h2 class="text-4xl my-4">Posts</h2>
  <ul>
    <li><a href="/posts/the-expression-problem/">The Expression Problem</a></li>
  </ul>
</BaseLayout>
