---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Danny Velasquez's Website">
	<main>
    <p>Hi and welcome to my website! I plan to post some of my thoughts here every now and then</p>
	</main>
</Layout>
