---
import BaseLayout from "../layouts/BaseLayout.astro";
import _ from "lodash/fp";

const prettyDate = (d) =>
  d.toLocaleDateString("en-us", { month: "short", day: "2-digit" });

const posts = await Astro.glob("../pages/posts/*.md");
const years = _.flow(
  _.map((x) => ({ ...x, date: new Date(x.frontmatter.publishedDate) })),
  _.groupBy((post) => post.date.getFullYear()),
  _.values,
  _.map((posts) => ({
    year: posts[0].date.getFullYear(),
    posts: _.orderBy((post) => post.date.getTime())("desc")(posts),
  })),
  _.orderBy(_.iteratee("year"))("desc")
)(posts);
---

<BaseLayout title="Danny Velasquez's Base Posts">
  <p class="mb-4">
    Hi! My name is Danny. I currently work as a software engineer and team lead
    at Walmart. I like learning about programming languages, software design
    patterns, and system development. I plan to post here some of the thoughts
    that I have and some of the things I'm interested in.
  </p>
  <h2 class="text-2xl mt-8 mb-4">Posts</h2>
  <ul>
    {
      years.map((year) => (
        <>
          <h3 class="text-gray-700">{year.year}</h3>
          <hr />
          <ul class="my-4">
            {year.posts.map((post) => (
              <li class="my-2 flex flex-row gap-4">
                <p class="w-24 text-xs">{prettyDate(post.date)}</p>
                <a class="hover:underline" href={post.url}>
                  {post.frontmatter.title}
                </a>
              </li>
            ))}
          </ul>
        </>
      ))
    }
  </ul>
</BaseLayout>
