---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Danny Velasquez's Blog Posts">
	<main>
    <ul>
      <li><a href="/posts/the-expression-problem/">The Expression Problem</a></li>
    </ul>
	</main>
</Layout>
