---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Danny Velasquez's Base Posts">
  <p class="mb-4">
    Hi! My name is Danny. I currently work as a software engineer and team lead
    at Walmart. I like learning about programming languages, software design
    patterns, and system development. I plan to post here some of the thoughts
    that I have and some of the things I'm interested in.
  </p>
  <h2 class="text-2xl mt-8 mb-4">Posts</h2>
  <ul>
    <li>
      <a class="hover:underline" href="/posts/the-expression-problem/">
        The Expression Problem
      </a>
    </li>
  </ul>
</BaseLayout>
