---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";

const posts = Object.values(import.meta.glob("../pages/posts/*.md", { eager: true }));
---

<BaseLayout title="Danny Velasquez's Website">
  <article class="prose">
    <p>
      Hi! My name is Danny. I currently work as a software engineer and team
      lead at Walmart. I like learning about programming languages, software
      design patterns, and low-level systems development. I plan to post here
      some of the thoughts that I have and some of the things I'm interested in.
    </p>
    <p>
      I created this site using <a href="https://astro.build/">Astro</a>. The
      source of this website can be found
      <a href="https://github.com/dannyvelas/my-astro-website">here</a>. I
      explain the reasons why I chose to use Astro
      <a href="/posts/why-i-chose-astro/">here</a>.
    </p>
  </article>
  <h2 class="text-2xl mt-8 mb-4">Posts</h2>
  <PostList {posts} />
</BaseLayout>
