<nav class="bg-neutral-200 py-4 px-2 sm:px-12">
    <div class="flex flex-row justify-between">
      <a href="/">Danny Velasquez's Website</a>
      <div class="flex flex-row gap-4 text-center">
        <a href="/about">About</a>
        <a href="https://github.com/dannyvelas">Github</a>
      </div>
    </div>
</nav>
