---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav class="py-4 px-2 sm:px-12 shadow-md">
    <div class="flex flex-row justify-between">
      <a class="sm:hidden" href="/">Danny Velasquez</a>
      <a class="hidden sm:inline sm:text-lg hover:underline" href="/">Danny Velasquez's Website</a>
      <div class="flex flex-row gap-4 text-center">
        <a class="hover:underline text-slate-400" href="https://github.com/dannyvelas">Github</a>
      </div>
    </div>
</nav>
