---
import BaseLayout from "./BaseLayout.astro";
import { monthDayYear, newDateLocal } from "../util/time.ts";

interface Props {
  frontmatter: Record<string, any>;
}

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <header class="mb-4">
    <div class="flex flex-row justify-between items-center">
      <p class="text-xs text-gray-400">
        {monthDayYear(newDateLocal(frontmatter.publishedDate))}
      </p>
      <div class="flex flex-row gap-4">
        {
          frontmatter.tags.map((tag) => (
            <a
              class="text-xs text-gray-400 hover:underline"
              href={`/tags/${tag}`}
            >
              {tag}
            </a>
          ))
        }
      </div>
    </div>
  </header>
  <article class="prose">
    <slot />
  </article>
</BaseLayout>
