---
import BaseLayout from './BaseLayout.astro';

interface Props {
	title: string;
  frontmatter: Record<string,any>;
}

const toFriendlyDate = (s: string) => (
  new Date(s).toLocaleDateString("en-us", {month: "long", day: "2-digit", year: "numeric"})
)

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <article>
    <header class="flex flex-col gap-4 my-8 items-center">
      <h1 class="text-4xl">{frontmatter.title}</h1>
      <h2 class="text-lg text-slate-600">{toFriendlyDate(frontmatter.publishedDate)}</h2>
    </header>
    <slot />
  </article>
</BaseLayout>

