---
import BaseLayout from "./BaseLayout.astro";
import { monthDayYear } from "../util/time.ts";

interface Props {
  frontmatter: Record<string, any>;
}

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <article class="prose">
    <h1>{frontmatter.title}</h1>
    <p class="text-xs">{monthDayYear(new Date(frontmatter.publishedDate))}</p>
    <slot />
  </article>
</BaseLayout>
